# Virtual Environment Files (ROOT LEVEL)
lib/
lib64
bin/
include/
share/
pyvenv.cfg

# Standard venv folders
venv/
.venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc

# Database & Data
cost_estimator.db
data/item_training_data.csv
storage/ml_models/

# Temp & Uploads
temp/
uploads/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
backup/
others/